{% block title %}
    DELETE CITY VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Danger card title</h4>
              <p><h1>¿Realmente deseas eliminar esta ciudad: {{ object.city_name }}?</h1></p>
            </div>
          </div>
        <button type="" class="btn btn-outline-danger">Delete City</button>
        <a href="{% url 'core:list_city' %}"></a>
    </form>
{% endblock content %}